<!--<nav class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="/">
                <span class="title">RIS</span> 
            </a>
            <ul data-bind="kendoMenu: {}">
                <li>
                    <span>Menu</span>
                    <ul>
                        <li><a href="#/agencijskeVesti">Agencijske vesti</a></li>
                    </ul>
                </li>
            </ul>
            <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                <div class="progress progress-striped active page-progress-bar">
                    <div class="bar" style="width: 100px;"></div>
                </div>
            </div>
        </div>
    </nav>-->
<nav>
    <ul data-bind="kendoMenu: {}" id="menu">
        <li>
            <span>Menu</span>
            <ul>
                <li>
                    <span>Agencija</span>
                    <ul>
                        <li><a href="#/agencijskeVesti">Agencijske vesti</a></li>
                    </ul>
                </li>
                <li>
                    <span>Radne lise</span>
                    <ul>
                        <li>Unos radnih lista</li>
                        <li>Izveštaj po danima</li>
                        <li>Izveštaj po radnicima</li>
                    </ul>
                </li>
                <li>
                    <span>Foto arhiva</span>
                    <ul>
                        <li><a href="#/unosSlika">Unos slika</a></li>
                        <li><a href="#/pretragaSlika">Pretraga slika</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>