#thumbnails {
    height: 370px;
    width: 118px;
    margin: 2px 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
}

.slikaWrapper {
    display: block; 
    margin: 2px 0 0 0; 
    width: 122px; 
    height: 100px
}

.slika {
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin-right: -22px;
}

.slikaWrapper img {
    cursor: pointer;
}

#unosTeksta .editor {
     width: 435px;
}

p {
    margin: 2px 0 0 0;
    font-size: 8pt;
}

#pregledTekstova {
    width: 100%;
}


#komentari {
    overflow-y: scroll;
    height: 340px;
}
#ostaviKomentar {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 4px;
}

.komentarPoslao {
    float: left;
    font-weight: 600;
}

.datumSlanjaKomentara {
    float: right;
}

.tekstKomentara {
    padding: 4px;
    word-break: break-all;
    clear: both;
    max-width: 348px;
}

